POSTGRES_DB=lifeagent
POSTGRES_USER=lifeagent
POSTGRES_PASSWORD=lifeagent
LIFEAGENT_PORT=8080
INTERNAL_SERVICE_TOKEN=replace-with-a-random-token

LLM_PROVIDER=mock
OPENAI_COMPAT_API_KEY=
OPENAI_COMPAT_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_COMPAT_MODEL=qwen-turbo
OPENAI_COMPAT_TRUST_ENV=false
